.button {
    border-radius: var(--radius-base);
    border: none;
    padding-inline: 25px;
    padding-block: space(1);
    font-size: var(--text-sm);
    font-weight: var(--text-bold);
    font-family: inherit;
    cursor: pointer;
}

.button--primary {
    color: var(--white);
    background-color: var(--blue);
}
